.main {
  /* border: 2px solid blue; */
  margin: 3px;

}

.hero {
  height: 77vh;
  /* border: 4px solid blue; */
  background: url('/image/graduate.jpeg');
  display: flex;
  align-items: center;
  width: 100%;
  padding: 50px;
  color: white;
  background-position: start;
  background-size: cover;
  background-repeat: no-repeat;

   /* filter: drop-shadow(900px 900px 900px rgba(0,0.0,0,0.5)); */

}

.hero-content {
  /* position: relative; */
  /* max-width: 100px; */
  /* border: 2px solid red; */
  margin-left: 60px;
}

.hero h1 {
  font-size: 35px;
  /* letter-spacing: 1px; */
}

.btn3 {
  padding: 18px;
  margin-right: 20px;
  background-color: red;
  border: none;
}

a {
  color: white;
  font-size: 16px;
  text-decoration: none;

}

.btn5 {
  padding: 18px;
  margin-right: 20px;
  background-color: white;
  border: none;
}

.btn-5 {
  color: black;
  font-size: 15px;
  text-decoration: none;

}
p{
  margin-bottom: 50px;
  font-size: 18px;
}
