.flex-container{
  /* border: 2px solid red; */
 display: flex;
 height: 100%;
 color: white;


}
.div-1{
  /* border: 2px solid blue; */
  background-color: navy;
  width: 25%;

}
.div-2{
  /* border: 2px solid lightblue; */
  background-color: rgb(60, 60, 223);
  width: 35%;
  position: relative;

}


.div-3{
  /* border: 2px solid red; */
  background-color: red;
  width: 45%;
  position: relative;




}
.div-1 p{
  /* border: 2px solid yellow; */
  margin-top: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
}
.div-2 p{
   /* border: 2px solid yellow; */
  margin-top: 80px;
 margin-left: 30px;
 font-size: 20px;
}
.div-3 p{
  /* border: 2px solid yellow; */
   margin-left: 30px;
   margin-top: 40px;
   font-size: 20px;
}
.div-1 h3{
  /* border: 2px solid red; */
   margin-left: 80px;
  margin-top: 30px;
  font-size: 24px;


}
.div-2 h3{
    /* border: 2px solid red; */
   margin-left: 65px;
    font-size: 24px;
    margin-top: 30px;

}
.div-1 img{
  /* border: 2px solid brown; */
   position: relative;
   top: 60px;
   left: 45px;
}
.div-2 img{
   /* border: 2px solid brown; */
   position: relative;
   top: 60px;
   left: 30px;
}
.div-3 h3{
  /* border: 2px solid navy; */
  margin-left: 50px;
  font-size: 24px;
}
.medal{
  /* border: 2px solid green; */
  position: relative;
  top: 40px;
}
img{
  /* border: 2px solid blue; */
  border-radius: 300px;



}

